@tailwind base;
@tailwind components;
@tailwind utilities;



form input:focus, form textarea:focus, textarea:focus, input {
  border: 1px solid black;
  outline: none;
}


input, select, textarea {
  font-size: 13px;
}

